<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1>Express Skills</h1>
        <ul>
            <a href="/skills/new">Add Skill</a>
        <% skills.forEach( skill => { %>
            <li>

            <a href="/skills/<%= skill.id %>"><%= skill.skill %></a>
            <% }); %>
        </li>
        </ul>
    </body>
<html>